.answer-image {
    min-height: 35vh;
    max-height: 35vh;
    display: flex;
    padding: 0;
    overflow: hidden;
}

.choice-container {
    position: absolute;
    min-height: 35vh;
    background: rgb(255, 246, 244);
    display: flex;
    vertical-align: center;
}

.image {
    /*position: absolute;*/
    /*display: inline-block;*/
    margin: 0 auto;
    padding: 0;
    max-height: 35vh;
    max-width: 40vw;
}

.story {
    font-size: small;
}

.question {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    font-size: larger;
    color: #ffde30;
}

.personality {
    font-size: medium;
    color: cornsilk;
}

.retry-png {
    max-width: 6vw;
    max-height: 6vh;
}