.answer-image {
    min-height: 35vh;
    max-height: 35vh;
    display: flex;
    padding: 0;
    overflow: hidden;
}

.choice-container {
    position: absolute;
    min-height: 35vh;
    background: rgb(255, 246, 244);
    display: flex;
    vertical-align: center;
}

.image {
    /*position: absolute;*/
    /*display: inline-block;*/
    margin: 0 auto;
    padding: 0;
    max-height: 35vh;
    max-width: 42vw;
}

.story {
    font-size: small;
}

.question {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0
}

.title {
    font-size: larger;
    color: #ffde30;
    padding: 2vh 2vw 2vh 2vw;
}

.personality {
    font-size: medium;
    color: cornsilk;
    padding: 1vh 3vw 1vh 3vw;
    background-color: rgba(253, 236, 227, 0.14);
    border: gainsboro solid thin;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 3px 0px rgba(255, 255, 255, 0.19);
    -moz-box-shadow: 5px 3px 0px rgba(255, 255, 255, 0.19);
    box-shadow: 5px 3px 0px rgba(255, 255, 255, 0.19);
}

.retry-png {
    max-width: 6vw;
    max-height: 6vh;
}